<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="FATAL" />
				<foreColor value="Red" />
				<backColor value="White" />
			</mapping>
			<mapping>
				<level value="ERROR" />
				<foreColor value="Red" />
			</mapping>
			<mapping>
				<level value="WARN" />
				<foreColor value="Yellow" />
			</mapping>
			<mapping>
				<level value="INFO" />
				<foreColor value="White" />
			</mapping>
			<mapping>
				<level value="DEBUG" />
				<foreColor value="Green" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%-5level] [%thread] [%date] %message%newline" />
			</layout>
		</appender>

		<appender name="ApplicationRollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logging/application.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%-5level] [%thread] [%date] %message%newline" />
			</layout>
		</appender>

		<appender name="ApiRollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logging/api.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date%newline=======================%newline%message%newline%newline" />
			</layout>
		</appender>

		<appender name="ImportDataRollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logging/import-data.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%-5level] [%thread] [%date] %message%newline" />
			</layout>
		</appender>

		<appender name="FileDownloaderRollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logging/file-downloader.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%-5level] [%thread] [%date] %message%newline" />
			</layout>
		</appender>

		<appender name="PlatformaOponRollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logging/platforma-opon.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%-5level] [%thread] [%date] %message%newline" />
			</layout>
		</appender>

		<appender name="PlatformaOponApiRollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logging/platforma-opon-api.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%-5level] [%thread] [%date] %message%newline" />
			</layout>
		</appender>
		
	  <appender name="NexoRollingFileAppender" type="log4net.Appender.RollingFileAppender">
		  <file value="Logging/nexo.txt" />
		  <appendToFile value="true" />
		  <rollingStyle value="Size" />
		  <maxSizeRollBackups value="10" />
		  <maximumFileSize value="10MB" />
		  <staticLogFileName value="true" />
		  <layout type="log4net.Layout.PatternLayout">
			  <conversionPattern value="[%-5level] [%thread] [%date] %message%newline" />
		  </layout>
	  </appender>

		<logger name="Application">
			<level value="ALL" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="ApplicationRollingFileAppender" />
		</logger>

		<logger name="Api">
			<level value="ALL" />
			<appender-ref ref="ApiRollingFileAppender" />
		</logger>

		<logger name="ImportData">
			<level value="ALL" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="ImportDataRollingFileAppender" />
		</logger>

		<logger name="FileDownloader">
			<level value="ALL" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="FileDownloaderRollingFileAppender" />
		</logger>

		<logger name="PlatformaOpon">
			<level value="ALL" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="PlatformaOponRollingFileAppender" />
		</logger>

		<logger name="PlatformaOponApi">
			<level value="ALL" />
			<appender-ref ref="PlatformaOponApiRollingFileAppender" />
		</logger>
		
	  <logger name="Nexo">
		  <level value="ALL" />
		  <appender-ref ref="ConsoleAppender" />
		  <appender-ref ref="NexoRollingFileAppender" />
	  </logger>

		<logger name="NHibernate">
			<level value="OFF" />
		</logger>

		<logger name="NHibernate.SQL">
			<level value="OFF" />
		</logger>
	</log4net>
</configuration>