<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="FileDownloaderConfig" type="AluCar.Core.Configuration.FileDownloader.FileDownloaderConfigSection, AluCar.Core.Configuration" />
		<section name="Pop3DownloaderConfig" type="AluCar.Core.Configuration.Pop3Downloader.Pop3DownloaderConfigSection, AluCar.Core.Configuration" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Container" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.11.4.0" newVersion="5.11.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.11.3.0" newVersion="5.11.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="defaultUnsecureHttpBinding" maxReceivedMessageSize="8388608" receiveTimeout="00:15:00">
					<security mode="None">
						<message establishSecurityContext="false" />
						<transport clientCredentialType="None" />
					</security>
					<readerQuotas maxStringContentLength="8388608" />
				</binding>
			</wsHttpBinding>
			<basicHttpBinding>
				<binding name="platformaopon.pl">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
		</bindings>

		<client>
			<endpoint address="https://platformaopon.pl/external-api/1.0/webApi"
			  binding="basicHttpBinding" bindingConfiguration="platformaopon.pl"
			  contract="PlatformaOponWebApi.PlatformaOponPortType" name="platformaopon.pl" />
		</client>

		<services>
			<service name="AluCar.Core.ApiService.Services.AluCarService" behaviorConfiguration="defaultBehavior">
				<endpoint address="" binding="wsHttpBinding" bindingConfiguration="defaultUnsecureHttpBinding" bindingNamespace="http://epox.dev/alucar" contract="AluCar.Core.ApiService.Services.Contracts.IAluCarService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://*:8733/AluCar/AluCarWcfService/" />
					</baseAddresses>
				</host>
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="defaultBehavior">
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="True" />
					<useRequestHeadersForMetadataAddress />
					<globalErrorHandlerBehavior />
					<globalMessageInspectorBehavior />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<extensions>
			<behaviorExtensions>
				<add name="globalErrorHandlerBehavior" type="AluCar.Core.ApiService.Behaviors.GlobalErrorHandlerBehaviorExtensionElement, AluCar.Core.ApiService" />
				<add name="globalMessageInspectorBehavior" type="AluCar.Core.ApiService.Behaviors.GlobalMessageInspectorBehaviorExtensionElement, AluCar.Core.ApiService" />
			</behaviorExtensions>
		</extensions>
	</system.serviceModel>


	<appSettings>
		<add key="DatabaseConnectionString" value="Data Source=.\;Initial Catalog=AluCarTools;User Id=sa;Password=BAracuDA2005;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
		<add key="log4net.Config" value="Logging/log4net.config" />
		<add key="log4net.Config.Watch" value="True" />
		<add key="TireProductTypeId" value="2" />
		<add key="WebsiteBaseUrl" value="http://hurt.alu-car.pl:9955" />
		<add key="TireSpeedIndexParameterDefinitionId" value="8" />
		<add key="TireLoadIndexParameterDefinitionId" value="7" />
		<add key="TireWidthParameterDefinitionId" value="3" />
		<add key="TireProfileParameterDefinitionId" value="5" />
		<add key="TireDiameterParameterDefinitionId" value="6" />
		<add key="TreadNameParameterDefinitionId" value="14" />
		<add key="RimProductTypeId" value="3" />
		<add key="RimWheelDiameterParameterDefinitionId" value="17" />
		<add key="RimEtParameterDefinitionId" value="20" />
		<add key="RimCentralHoleDiameterParameterDefinitionId" value="21" />
		<add key="RimOveralWidthParameterDefinitionId" value="16" />
		<add key="RimNumberOfScrewsParameterDefinitionId" value="18" />
		<add key="RimPitchCircleDiameterParameterDefinitionId" value="19" />
		<add key="RentalPriceDefinitionId" value="1" />
		<add key="CartDefinitionGuid" value="00000000-0005-0001-0004-000000000000" />
		<add key="OrderDefinitionGuid" value="00000000-0005-0001-0001-000000000000" />

		<add key="NewOrderRecipientsEmails" value="wojciech.ogorzalek@gmail.com,krzysztof_drozd@alu-car.pl,dawid_wasik@alu-car.pl"/>
		<add key="NewRegistrationRecipientsEmails" value="wojciech.ogorzalek@gmail.com,krzysztof_drozd@alu-car.pl,dawid_wasik@alu-car.pl"/>

		<add key="TireWinterCategoryId" value="2" />
		<add key="TireSummerCategoryId" value="3" />
		<add key="TireMultiSeasonCategoryId" value="4" />

		<add key="RimAluCategoryId" value="91" />
		<add key="RimSteelCategoryId" value="92" />
		<add key="RimSteelManufacturersIds" value="98,86,85"/>
		<add key="RimSteelDefaultManufactureId" value="86" />
		<add key="MailWhitelist" value="alu-car.pl" />
		<add key="MailProcessingIntervalInSeconds" value="10" />
		<add key="DefaultSenderName" value="ALU-CAR" />
		<add key="DefaultSenderEmail" value="bok@alu-car.pl" />
		<add key="MailProcessorEnabled" value="true"/>

		<add key="NexoApiUrl" value="http://localhost:9000/api/" />
		<add key="NexoSynchronizationEnabled" value="true"/>
	</appSettings>

	<FileDownloaderConfig checkFileDate="true">
		<Servers>
			<add name="Alu-Car" serverName="ftp.alu-car.pl" userId="synch_alu-car_pl" password="Synch024315w#" disabled="false" />
			<add name="Reifengundlach" serverName="pubftp.reifengundlach.de" userId="0901410" password="alucar24112014" disabled="false" />
			<add name="Goodyear" serverName="ftp.goodyear.eu" disabled="false" userId="srpl01p" password="goodyearLYeLhxv" />
		</Servers>
		<Files>
			<add name="Ronal" fileName="Ronal/*.*" server="Alu-Car" destination="Ronal\ronal_stany.csv" disabled="false" deleteFiles="false" cron="25 * * * *" />
			<add name="Itr" fileName="Itr/ALU_CAR/danetwr.csv" server="Alu-Car" destination="Itr\*.*" disabled="true" />
			<add name="Bridgestone" fileName="Bridgestone/Bridgestone_Stockreport.csv" server="Alu-Car" destination="Bridgestone\*.*" disabled="true" />
			<add name="Rondell" fileName="770129.csv" server="Rondell" destination="Rondell\*.*" disabled="true" />
			<add name="Reifengundlach" fileName="rg.csv" server="Reifengundlach" destination="Reifengundlach\*.*" disabled="false" cron="17 * * * *" />
			<add name="Uniwheels" fileName="Uniwheels/UTP_0989300.csv" server="Alu-Car" destination="Uniwheels\*.*" disabled="true" />
			<add name="Rh" fileName="Rh/Alucar.csv" server="Alu-Car" destination="Rh\*.*" disabled="true" />
			<add name="Goodyear" fileName="GDYR_PL_STOCKREPORT_1.csv" server="Goodyear" destination="Goodyear\*.*" disabled="false" />
			<add name="Nokian" fileName="Nokian/Nokian_stockreport.csv" server="Alu-Car" destination="Nokian\*.*" disabled="true" />
			<add name="Pirelli" fileName="Pirelli/PIRELLI_STOCKFILE.CSV" server="Alu-Car" destination="Pirelli\*.*" disabled="true" />
			<add name="Falken" fileName="Falken/*.csv" server="Alu-Car" destination="Falken\*.*" disabled="false" cron="20 * * * *" />
		</Files>
	</FileDownloaderConfig>

	<Pop3DownloaderConfig>
		<accounts>
			<add name="Superior" server="poczta22743.domeny.host" port="995" useSsl="true" user="superior@alu-car.pl" password="Superior024315w#" autoClean="true" />
			<add name="MWP" server="poczta22743.domeny.host" port="995" useSsl="true" user="mw@alu-car.pl" password="Mw024315w#" autoClean="true" />
			<add name="RH" server="poczta22743.domeny.host" port="995" useSsl="true" user="rh@alu-car.pl" password="Rh024315w#" autoClean="true" />
			<add name="Tomason" server="poczta22743.domeny.host" port="995" useSsl="true" user="tomason@alu-car.pl" password="Tomason024315w#" autoClean="true" />
		</accounts>
		<files>
			<add name="Superior" account="Superior" fileName="*" from="krzysztof_drozd@alu-car.pl" destination="Superior\stock.csv" cron="5 10,18 * * *" />
			<add name="MWP" account="MWP" fileName="*.csv" from="krzysztof_drozd@alu-car.pl" destination="Mwp\mwp_stock.csv" cron="25 10 * * *" />
			<add name="RH" account="RH" fileName="*.csv" from="krzysztof_drozd@alu-car.pl" destination="Rh\Rh_stock.csv" cron="35 10 * * *" />
			<add name="Tomason" account="Tomason" fileName="*.csv" from="krzysztof_drozd@alu-car.pl" destination="Tomason\Tomason_stock.csv" cron="45 10 * * *" />
		</files>
	</Pop3DownloaderConfig>

</configuration>